menu {
    bottom: 0;
    position: fixed;
    background-color: white; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em; 
    border-radius: 1.5625rem 1.5625rem 0rem 0rem; 
}
.구구 ul {
    height: 6.25rem;
    position: sticky;
    top: 37.5rem; 
}

.hbg { 
    float: left;
    margin-top: 10px;
}
.hbg img {
    width: 1.875rem;
    margin-top: 10px;
}
.nmi {
    float: left;
    margin-top: 10px;
}
.nmi img {
    width: 1.875rem;
}
.dgrm {
    box-sizing: border-box;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: var(--dark_green1);
    border: 1px solid white;
       text-align: center;
    margin-left: -0.8rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: -1.1rem;
    
    
}
.구구 {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    
}
.dgrm p {
    font-size: 1.2rem; 
    position: absolute;
    left: 8.3rem; 
    top: 0.6rem; 
    font-family: "DM Serif Display", serif;
    margin-left: 1.8rem;
    color: white;
}
.heart {
    float: left;
    margin-top: 7px;
    margin-left: -0.4rem; 
}
.heart img {
    width: 1.875rem; 
}
.user {
    float: left;
    margin-top: 7px;
}
.user img {
    width: 1.875rem; 
    margin-top: 11px;
}

.구구 li img {
    margin: 0.9375rem; 
}

.구구 li {
    margin-left: 0.3rem;
}






@media screen and (min-width: 768px) and (max-width: 1439px){ /* 768px = 48rem */
    img { margin-left: 5rem; /* 80px = 5rem */ }
    .dgrm {
        width: 8.125rem; /* 130px = 8.125rem */
        height: 8.125rem; /* 130px = 8.125rem */
        border-radius: 50%;
        margin-left: 1rem; /* 45px = 2.8125rem */
        margin-top: -3.125rem; /* -50px = -3.125rem */
    }
    .dgrm p {
        font-size: 1.5625rem; /* 25px = 1.5625rem */
        letter-spacing: 0.3125rem; /* 5px = 0.3125rem */
        color: white;
        position: absolute;
        top: 0.1rem; /* -13px = -0.8125rem */
        margin-left: 13rem;
    }
    .구구 {
        
        gap: 2rem;
    }

}


@media screen and (min-width: 1440px){ /* 1024px = 64rem */
    menu { display: none;}
}